.contenthelp{
    display: flex;
    flex-direction: column;
}
.intro{
    width: 100vw;
    text-align: center;
}
.introHeading{
    margin-top: 120px;
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: rgb(46,51,56);
}
.introPara{
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 93px;
    color: rgb(46,51,56);
}
.beginner{
    font-size: 20px;
    font-weight: 200;
    color: rgb(0,106,225);
    text-decoration: none;
}
.beginner:hover{
    text-decoration: underline;
}
.helpbuttonDiv{
    width: 98%;
    display: flex;
    justify-content: end;
}
.helpButton{
    width: 120px;
    background-color: rgb(78, 78, 216);
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 999rem;
    font-size: 1.07143rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 15px;
}
.helpicon{
    width: 33px;
    margin-right: 5px;
}

/* .............card_Section.................. */
.cardSection{
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 22px;
    width: 90%;
    height: 65%;
    padding: 5px;
} 
.card {
    border: 1px solid #ddd;
    padding: 0px 10px 23px 10px;
    border-radius: 5px;
    width: 240px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card:hover{
    background-color: rgb(247, 247, 249);
}
.cardimg{
    width: 125px;
    margin-top: 10px;
} 
.cardHead{
    color: rgb(88,101,242);
    font-size: 20px;
}
.line{
    width: 55px;
    height: 2px;
    background-color: rgb(238,239,241);
    border-radius: 15px;
    margin: 10px;
}
.cardPara{
    color: rgb(94,107,124);
}
.otherHead{
    font-size: 28px;
    color: rgb(46,51,56);
    margin: 67px 0px 40px 0px;
}
.secBox{
    width: 570px;
    padding-bottom: 5px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}