*{
    margin: 0px;
    padding: 0px;
}
.Background{
    width: 100vw;
    height: 100vh;
    background: none;

}

                    /* DM-Box */

.btn-main{
    position: relative;
}
.DM-Button{
    /* margin-left: 1000px; */
    margin-top: 20px;
    width: 60px;
    height: 30px;
    background-color: rgb(57, 57, 225);
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 20%;
}
.DM-Background{
    position: relative;
}
.DM-Container{
    width: 445px;
    height: 400px;
    background-color: #303338;
    /* margin-left: 850px; */
    /* margin-top: 25px; */
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    right: 10%;
    /* top: 15%; */
    margin-top: 4%;
}
.DM-top{
    width: 98%;
    height: 35%;
    background-color: #303338;
    position: sticky;
    padding-left: 10px;
    top: 0px;
}
.DM-Container h2{
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    padding-top: 15px;
}
.DM-Container h5{
    font-size: 12px;
    font-weight: 400    ;
    color: rgb(166, 164, 164);
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols" ;
}
.inputBox{
    width: 93%;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #1e1f22;
    outline: none;
}
.DM-list-box{
    padding-left: 20px;
    height: 50%;
    width: 95%;
    overflow: scroll;
}
.DM-name-list{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    list-style: none;
    color: white;
    font-size:16px;
    font-weight: 500;
    line-height: 20px;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
}
.DM-name-list:hover{
    background-color: #6d727b;
}
.DM-selectfriend-footer{
    height: 17%;
    width: 100%;
    background-color: #303338;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CDM{
    width: 80%;
    height: 60%;
    background-color:rgb(57, 57, 225) ;
    border: none;
    border-radius: 5px;
    color: white;
}
                                            /* INBOX  */
.Inbox{
    position: absolute;
    margin-top: 20px;
    /* margin-left: 10px; */
    width: 60px;
    height: 30px;
    background-color: rgb(57, 57, 225);
    border: none;
    border-radius: 5px;
    color: white;
    right: 15%;
}
.Inbox-background{
    position: relative;
}
.Inbox-container{
    width: 485px;
    height: 500px;
    background-color: #2c2d31;
    /* margin-left: 850px; */
    /* margin-top: 5px; */
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    right: 7%;
    /* top: 10%; */
    margin-top: 4%;
}
.Inbox-top{
    width: 100%;
    height: 10%;
    display: flex;
    /* background: wheat; */
}
.Inbox-top-1{
    width: 50%;
    height: 100%;
    display: flex;
    /* background-color: aquamarine; */
}
.Inbox-top-1 svg{
    padding-left: 15px;
    padding-top: 15px;
}
.Inbox-top-1 span{
    padding-left: 10px;
    padding-top: 15px;
    font-size:20px;
    color: white;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    font-weight:600;
    line-height:24px;
}
.Inbox-top-2{
    width: 50%;
    height: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    /* right: 10%; */
    align-items: center;
    position: relative;
}
.count-box{
    width: 55px;
    height: 30px;
    background: #2c2d31;
    border-radius: 10px;
    /* display: flex; */
    position: absolute;
    right: 6%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.count-round{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #40434a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
}
.count-round span{
    font-size: 12px;
}
.list-container{
    width: 100%;
    height: 10%;
    /* background-color: #6d727b; */
    border-bottom: 2px solid #3c3d44;
    display: flex;
}
.list-container div{
    width: 17%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;

}
.list-container div:hover{
    /* background-color: rgb(27, 33, 33); */
    border-bottom: 2px solid #949cf7;
    cursor: pointer;
}

.list-container li{
    /* text-decoration: none; */
    padding-left: 10px;
    list-style-type: none ;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

                        /* ForYou */
.foryou-box{
    display: flex;
    position: relative;
}
.foryou-Image{
    /* padding-left: 25%; */
    position: absolute;
    left: 25%;
    padding-top: 10%;
}
.foryou-text{
    position: absolute;
    left: 35%;
    margin-top: 47%;
    color: white;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    font-size: 18px;
    font-weight: 800;
}
.foryou-text2{
    position: absolute;
    padding-top: 53%;
    left: 5%;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    font-size: 16px;
    font-weight: 500;
    color: #90959a;
}

                        /* unread-section */

.Unread-Container{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    background-color: #2c2d31;
}
.Unreadimage{
    width: 100px;
    height: 90px;
    position: absolute;
    left: 12%;
    padding-top: 6%;
    width: 140px;
    height: 100px;
}

.Unread-text{
    position: absolute;
    padding-top: 14%;
    left: 9%;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    font-size: 24px;
    font-weight: 600;
    color: #ffff;

}
.Unread-text-2{
    position: absolute;
    top: 30%;
    left: 2.5%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #7b8086;
}
.Unread-text-2 span{
    font-weight: 700;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    color: #069240;
}

                                /* .Mention */
.Mention-Container{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    background: #2c2d31;
}

.Mentionimage{
    width: 115px;
    height: 95px;
    position: absolute;
    left: 13%;
    padding-top: 6%;
}
.Mention-text{
    position: absolute;
    padding-top: 14%;
    left: 5%;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    font-size: 24px;
    font-weight: 600;
    color: whitesmoke;
    
}
.Mention-text-2{
    position: absolute;
    top: 30%;
    left: 4%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #7b8086;
}
.Mention-text-2 span{
    font-weight: 700;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    color: #069240;
}

                        /* Server-modal */

.Add-To-Server{
    margin-top: 10%;
    width: 60px;
    height: 30px;
    background-color: rgb(57, 57, 225);
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    left: 5%;
}

.Server-Box{
    position: relative;
    /* width: 100vw;
    height: 100vh; */
    /* background-color: #1e1f22; */
    /* opacity: 8; */
}
.Server-Container{
    position: absolute;
    width: 440px;
    height: 550px;
    background-color: #303338;
    left: 35%;
    margin-top: 9%;
    margin-left: 570px;
    border-radius: 5px;
    overflow: hidden;
    /* border: 2px solid white; */
    box-shadow: #111214 5px 5px 10px 10px;
}

.Server-Top{
    width: 100%;
    height: 22%;
    /* border-bottom: 2px #ffff solid; */
    /* display: flex; */
} 
.Server-Top h1{
    font-size: 24px;
    font-weight: 700;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    color: #dbdee1;
    text-align: center;
    padding-top: 20px;
}

.Server-Top span{
    font-size: 16px;
    font-weight: 400;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";   
    color: #b2b7bd;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.Server-body{
    padding-left: 20px;
    height: 60%;
    width: 95%;
    overflow: scroll;
}
.Server-Body-List{
    width: 85%;
    height: 65px;
    margin-top: 10px;
    list-style: none;
    color: whitesmoke;
    border: 0.10px #90959a solid;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 10%;
    position: relative;
}
.Server-Body-List img{
    position: absolute;
    right: 5%;
}

.Server-Footer{
    height: 20%;
    width: 100%;
    background-color: #2a2d31;
    position: sticky;
    bottom: 0;
    text-align: center;

}
.Server-Footer h2{
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    font-size: 20px;
    font-weight: 600;
    color: #dbdee1;
    padding-top: 15px;
    
}.Server-Footer button{
    background-color: #4d5057;
    border: none;
    width: 90%;
    height: 35%;
    margin-top: 10px;
    border-radius: 5px;
    color: whitesmoke;
}

                    /* Download Apps */

.DownloadApp{
    margin-top: 15%;
    width: 60px;
    height: 30px;
    background-color: rgb(57, 57, 225);
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    left: 5%;
}
.DA-body{
    position: relative;
}
.DA-container{
    position: absolute;
    margin-left: 300px;
    bottom: -450px;
    left: 50%;
    width: 1100px;
    height: 730px;
    background-color: #dbdee1;
    border-radius: 8px;
    overflow: hidden;
}
.DA-container-1{
    height: 50%;
    width: 100%;
    /* background-color: aquamarine; */
}

.DA-container-1-1{
    width: 100%;
    height: 9%;
    /* background-color: violet; */
    display: flex;
    justify-content: end;

}
.DA-container-1-1 button{
    width: 5%;
    height: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: end;
}
.DA-container-1-1 button img{
    width: 30px;
    height: 30px;
}
.DA-container-1-2{
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DA-container-1-2 h2{
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
    font-size: 20px;
    font-weight: 500;
    color: #2a2d31;
}
.DA-container-1-3{
    width: 100%;
    height: 82%;
    /* background-color: turquoise; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.Three-OS-Container{
    width: 70%;
    height: 90%;
    /* background-color: #949cf7; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Three-OS{
    width: 200px;
    height: 95%;
    border: #6d727b solid 2px;
    border-radius: 8px;
    position: relative;
}
.macOS-Icons{
    width: 55%;
    height: 40%;
    background-color: #6d727b;
    /* border: #4d5057 solid 1px; */
    border-radius: 50%;
    position: absolute;
    left: 22%;
    top: 10%;
}
.macOS-Icons h3{
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
    text-align: center;
    margin-top: 25%;
    font-size: 23px;
    font-weight: 500;
    line-height: 0%;
    color: #ffff;
}
.macOS-Icons h1{
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    color: #ffff;
    margin-top: 5px;
}
.Three-OS span{
    font-size: 20px;
    font-weight: 500;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
    position: absolute;
    left: 32%;
    top: 64%;
    color: #2a2d31;
}
.Three-OS button{
    width: 85%;
    height: 15%;
    position: absolute;
    left: 8%;
    top: 80%;
    border: none;
    border-radius: 5px;
    background-color: #6d727b;
    color: aliceblue;
}
.OS-Icons{
    width: 55%;
    height: 40%;
    /* background-color: #6d727b; */
    /* border: #4d5057 solid 1px; */
    border-radius: 50%;
    position: absolute;
    left: 22%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.OS-Icons img{
    width: 100px;
    height: 100px;
}
.linux-buttons{
    width: 85%;
    height: 15%;
    position: absolute;
    left: 8%;
    top: 80%;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.linux-buttons1{
    width: 40%;
    height: 100%;
    background-color: #6d727b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
    font-size: 14px;
}
.DA-container-2{
    height: 8%;
    width: 100%;
    /* background-color: #069240;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.DA-container-2 span{
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
    font-size: 20px;
    font-weight: 500;
    color: #2a2d31;
}
.DA-container-3{
    height: 42%;
    width: 100%;
    /* background-color: wheat; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DA-container-3-1{
    width: 45%;
    height: 100%;
    /* background-color: #1a261f; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Two-OS{
    position: absolute;
    width: 200px;
    height: 85%;
    border: #6d727b solid 2px;
    border-radius: 8px;
    position: relative;
}
.Two-OS-icon{
    width: 55%;
    height: 40%;
    border-radius: 50%;
    position: absolute;
    left: 22%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Two-OS-icon img{
    width: 100px;
    height: 100px;
}
.Two-OS span{
    font-size: 20px;
    font-weight: 500;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
    position: absolute;
    left: 32%;
    top: 64%;
    color: #2a2d31;
}
.Two-OS button{
    width: 85%;
    height: 15%;
    position: absolute;
    left: 8%;
    top: 80%;
    border: none;
    border-radius: 5px;
    background-color: #6d727b;
    color: aliceblue;
}




                                /* Profile Bar */

.ProfileBar{
    margin-top: 54%;
    width: 100px;
    height: 30px;
    background-color: rgb(57, 57, 225);
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    left: 5%;
}

.Profile-bg{
    position: relative;
}
.Profile-Container{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #111214;
    left: 4%;
    margin-top: 25%;
    border-radius: 10px;
    overflow: hidden;
}
.Profile-Top{
    width: 100%;
    height: 40%;
    background-color: #111214;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Profile-Top img{
    width: 300px;
    height: 150px;
}
.Profile-Name{
    width: 100%;
    height: 12%;
    /* background-color: violet; */
    padding-left: 10px;
}
.Profile-Name h1{
    font-size: 20px;
    font-weight: 700;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
    line-height: 24px;
    color: #dbdee1;
}
.Profile-Name h1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Profile-Name span{
    font-size: 14px;
    line-height: 18px;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
    font-weight: 400;
    color: #dbdee1;
}
.Profile-Name span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Profile-Edit-Container{
    width: 100%;
    height: 28%;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.Profile-Edit-Box{
    width: 90%;
    height: 85%;
    /* background-color: wheat; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222528;
}
.Profile-Edit-Innerox{
    width: 95%;
    height: 90%;
}
.Edit-Profile{
    width: 100%;
    height: 35%;
    /* background-color: #303338; */
    margin-top: 7px;
    display: flex;
    position: relative;
    border-radius: 5px;
}
.Edit-Profile:hover{
    background-color: #40434a;
    cursor: pointer;
}

.Edit-Profile img{
    position: absolute;
    left: 5%;
    margin-top: 5px;
}
.Edit-Profile span{
    position: absolute;
    left: 15%;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #b5bac0;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
}
.Line-div{
    width: 100%;
    height: 1px;
    background-color: #7b8086;
    margin-top: 7px;
}
.Online-div{
    width: 100%;
    height: 35%;
    /* background-color: #303338; */
    margin-top: 7px;
    position: relative;
    border-radius: 5px;
}
.Online-div:hover{
    background-color: #40434a;
    cursor: pointer;
}
.Online-svg{
    width: 13px;
    height: 13px;
    position: absolute;
    left: 5%;
    margin-top: 7px;
}
.Online-div span{
    position: absolute;
    left: 15%;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #b5bac0;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
}
.Online-Arrow{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5%;
    margin-top: 8px;
}

.Switch-Account{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.Swich-Account-div{
    width: 90%;
    height: 60%;
    background-color: #222528;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Swich-Account-innerdiv{
    width: 90%;
    height: 65%;
    /* background-color: #7b8086; */
    border-radius: 5px;
    position: relative;
}
.Swich-Account-innerdiv:hover{
    background-color: #40434a;
    cursor: pointer;
}
.Swich-Account-svg{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 5%;
    margin-top: 7px;
}
.Switch-Account-Arrow{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5%;
    margin-top: 9px;
}
.Swich-Account-innerdiv span{
    position: absolute;
    left: 15%;
    margin-top: 7px;
    font-size: 14px;
    font-weight: 500;
    color: #b5bac0;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"    ;
}



