.discover{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
}
.server-quests{
    width: 18vw;
    height: 100vh;
    background-color: #2b2d31;
}
.game-servers{
    background-color: #2b2d31d0;
    width: 100%;
    /* place-content:center; */
    /* place-items: center; */
}
.server-quests-head{
    place-content: center;
    place-items: center;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid rgb(80, 73, 73);
}
.server-quests-head-text{
    color: white;
    font-size: 2rem;
}
.server-options{
    width: 100%;
    height: 15vh;
}
.servers-a{
    place-content: center;
    place-items: center;
    height: 50%;
    width: 100%;
    /* border: 0.1px solid white; */
    font-size: x-large;
    color: whitesmoke;
    background: #00000031;
    margin-top: 10px;
    border-radius: 8px;
}
.servers-a:hover{
    background-color: rgba(184, 195, 204, 0.712);
}
/* discover navbar styles are here */

.server-items{
    width: 100%;
    display: flex;
    position: fixed;
    border-bottom: 1px solid black;
    height: 10vh;
}
.navbar-buttons{
    width: 65%;
    display: flex;
    justify-content: space-around;
    place-items: center;
    
}
.b1{
    color: whitesmoke;
    padding-bottom: 20px;
    margin-top: 20px;
}
.b1:hover{
    border-bottom: 1px solid white;
}
.input-field{
    background-color: #2b2d31;
    height: 40px;
}
.community-pic{
    width: 100%;
    /* height: 30vh; */
}
.blue{
    width: 100%;
    background:linear-gradient(to right,#214589,#0d0c34);
    /* background-color: blue; */
    height: 20vh;
}
.server-cards{
    width: 80vw;
    background-color: #313338;
    display: grid;
    /* grid-gap: 20px; */
    

}
.cards30{
    width: 200px;
    height: 300px;
    background-color: #28292e;
}
