 @font-face{
  font-family: Myfont;
  src: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols"
  
 }

/* *{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
} */
.conteiner{
  height: 100vh;
  width: 100vw;
  display: flex;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(44, 42, 42); 
  /* border-radius: 10px; */
}

::-webkit-scrollbar {
  width: 5px;
}

.tabs-one{
  height: 100vh;
  width: 30%;
  background-color:#2b2d31;
  /* background-color: rgba(0, 0, 0, 0.805); */
  display: flex;
  justify-content: end;
  /* margin-left: 20px; */
  padding-left: 20px;
 overflow: hidden;
  overflow-y: scroll; 

}
.tabs-two{
  height: 100vh;
  width:70%;
  background-color: #313339;
  overflow: hidden;
  overflow-y: scroll; 

   
}
.tabsone-item-one{
  height: 100%;
  width: 40%;
 
}
.tabsone-item-one ul{
  list-style: none;
}
.tabsone-item-one li{
  color: #b5bac1;
  height: 35px;
  width: 90%;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10;
  font-family:  Helvetica, Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  text-decoration: none;
}.tabsone-item-one li:hover{
 background-color: #404249;
  color: #ffffff;

}.tabsone-item-one li:blank{
  background-color: rgba(93, 55, 55, 0.223);
  color: rgba(240, 255, 255, 0.91);

}
.tabsone-item-one label{
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 5px;
  font-family: Helvetica, Arial, sans-serif, ;
  color: #949ba4;
  font-weight:bold;
  font-style: inherit;
  font-family: inherit;
  font-size: 80%;
  vertical-align: baseline;
  margin-bottom: 40px;
}.tabsone-item-one input{
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 10px;
  height: 35px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(19, 14, 14);
  outline: none;
  color: aliceblue;
  border: none;
}
.search-icon-parent{
  position: relative;
}
.search-icon{
  background-color:rgb(19, 14, 14);
  height: 35px;
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 40px;
  border-radius: 0px 5px 5px 0px;
}
.hr-line{
 margin: 10px 20px 15px 10px;
    height: 0.1px;
    background-color:#4b4d55;
}.search-icon img{
  margin-top: 5px;
  padding: 1px;
}.logo-images img{
    height: 20px;
    width: 20px;
}.logo-images{
 margin-left: 15px;
  display: flex;
  gap: 15px;
}.click-to-copy-version{
  height: 100px;
  width: 100%;
  background-color:#2b2d31;
 display: flex;
 flex-direction: column;
 color: #b5bac1;
 padding: 10px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 line-height: 1.3333333333333333;
 font-weight: 400;
}
.log-out-session{
  display: flex;
   justify-content: space-between;
   padding-right: 20px;
}.log-out-session svg{
 margin-top: 10px;
}


@media only screen and (max-width: 1024px) {
  .tabsone-item-one{
    height: 100%;
    width: 70%;
  }.tabsone-item-one li{
    color: #b5bac1;
    height: 40px;
    width: 100%;
  font-size: 15px;
    }.logo-images{
      margin-left: 3px;
       gap: 10px;}
       .click-to-copy-version{
       font-size: 10px;
       font-weight: 200;
      }
  .tabs-two{
    height: 100vh;
    width:90%;
  }.esc-back-btn{
    /* width: 35px;
    height: 35px;
    border-radius: 50%; */
    /* position: fixed; */
    left: 873px;
    top: 0px
  }.esc-back-btn p{
    color: whitesmoke;
    margin-top: 10px;}
    .tabs-first-card{
      width: 650px;
       height: 450px;
       background-color: #1e1f22;
       position: absolute;
       top: 50px;
       left: 50px;
       border-radius: 20px;
       /* position: relative; */
    }
}
/* section two styless   */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
.tabs-two-items{
 position: relative;
}
.tabs-first-card{
  width: 650px;
   height: 450px;
   background-color: #1e1f22;
   position: absolute;
   top: 50px;
   left: 50px;
   border-radius: 20px;
   /* position: relative; */
}.My-account{
  font-family:  Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 24px;
  margin-top: 85px;
  margin-left: 50px;
}.crad-inner-first{
  height: 100px;
  width: 100%;
  background-color: #5e65f3;
  border-radius: 12px 10px 0px 0px ;
}.crad-inner-second{
  height: 100px;
  width: 100px;
  background-color: #1e1f22;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: -50px;
  box-sizing: border-box;
}.crad-inner-second img{
  height: 90px;
  width: 90px;
  margin-left: 4px;
  margin-top: 5px;
}.crad-inner-second h2{
  margin:  -30px 0px 0px 120px  ;
  color: #ffffff;
}.edit-profile button{
   position: absolute;
   top: 120px;
   right: 7px;
   height: 30px;width: 145px;
  background-color: #5e65f3;
  color: #ffffff;
  border: none;
  border-radius: 2px;
}.edit-profile button:hover{
  background-color: #6b71e4;

}
.card-inner-third{
  height: 250px;
  width: 94%;
  margin: 35px 0px 0px 20px;
  background-color: #2b2d31;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-inner-third-item{
  width: 95%;
  height: 45px;
  background-color: #2b2d31;

 margin: 10px 0px 0px 10px;
 display: flex;
 justify-content: space-between;
}.third-inner-one label{
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Symbols';
  color: #949ba4;
  font-size: 15px;

}
.third-inner-one{
  font-size: 15px;
  margin-bottom: 2px;
  height: 100%;
  width: 40%;
  background-color: #2b2d31;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  letter-spacing: 1.5px;
}.third-inner-two{
 display: flex;justify-content: center;align-items: center;
  margin-top: 10px;
  font-size: 15px;
  height: 60%;
  width: 12%;
   background-color: #4e5058;
   color: #ffffff;
}.third-inner-two:hover{
  background-color:#5c5e67 ;
}.password-authentication{
  display:flex;
  flex-direction: column;
  gap: 13px;
  height: 450px;
  width: 62%;
  background-color: #313339;
  position: absolute;
  top: 540px;
  left: 52px;
  color: #ffffff;
}.password-authentication h2{
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Symbols';
  font-weight: 600;
  line-height: 24px;
  font-size: 20px;
}
.password-authentication button{
 padding: 10px 10px 10px 10px;
 border-radius: 6px;
 background-color: #5e65f3 ;
 color: #ffffff;
 border: none;
 margin: 15px 0px 15px 0px;
}.password-authentication button:hover{
  background-color: #6b71e4;

}
.password-authentication h4{
  font-family: Helvetica, Arial, sans-serif, ;
  font-size: 12px;
 color: #b5bac1;
}.password-authentication p{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #b5bac1;
}.disable-account{
  height: 100px;
  margin-bottom: 120px;
  width: 454px;
  background-color: #313339;
  display: flex;
  gap: 15px;
}.disable-account button{
  border: 1px solid #db373c;
  background: transparent;
}.disable-account-first-butt button{
  background-color: #db373c;
}.ship-model-image{
  height: 501px;
  width: 250px;
  background-color: #313339;
  position: absolute;
  top: 540px;
  left: 550px;
}.ship-model-image img{
  height: 50px;
  width: 100px;
  margin-top: 100px;
  margin-left: 49px;
}.esc-back-btn{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgb(182, 170, 170);
  /* background-color: #5e65f3; */
  position: fixed;
  left: 1250px;
  top: 100px;
 padding: 7PX;
}.esc-back-btn p{
  color: whitesmoke;
  margin-top: 10px;
}.esc-back-btn :hover{
fill: #ffffff;

}



/* //////////////////////////////////////////////// */


.friendrequest{
  width: 50%;
  height: 35%;
  /* background-color: rgb(33, 32, 32); */
  margin: 50px 0px 0px 50px;
  color: white;
  display: flex;
  flex-direction: column;
}
.friendrequest span{
  text-transform: uppercase;
  font-size: 10px;
  padding-left: 5px;
  font-family: Helvetica, Arial, sans-serif, ;
  color: #949ba4;
  font-weight:bold;
  font-style: inherit;
  font-family: inherit;
  font-size: 80%;
  vertical-align: baseline;
  margin-top: 40px;
}
.section{
  width: 100%;
  height: 50px;
  /* background-color: #b5bac1; */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 1px solid rgb(81, 75, 75);
}.section-everyone-inner-one{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 200px;
  /* background-color: aquamarine; */
}
.section-everyone-inner-two{
  height: 100%;
  width: 50px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* //////////////////////////////////////////// */

.clips-beta{
  height: 30%;
  width: 40%;
  color: white;
  /* background-color: #b5bac1; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 50px 0px 0px 40px;
}
.clips-beta-heading{
  font-size: 15px;
  display: flex;
  gap: 10px;
}
.beta{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 45px;
  background-color: #5e65f3;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  margin-top: 5px;
}

.allo-my-voice{
  color: white;
  height: 30px;
  width: 600px;
  /* background-color: #ffffff; */
  margin: 40px 0px 0px 40px;
  display: flex;
}.allo-my-voice-text{
   height: 100%;
   width: 90%;
   /* background-color: #5e65f3; */
   display: flex;
   justify-content: start;
   align-items: center;
}.allo-my-voice-toggle{
  height: 100%;
  width: 10%;
  /* background-color: #5f6190; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.allo-my-voice-under-text{
  color: rgb(157, 140, 140);
  font-size: 13px;
  margin: 10px 0px 0px 40px;
  font-weight: 100;

}
.connection-header {
  font-size: 18px;
  color: white;
  margin: 40px 0px 0px 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.add-account-to-your-profile{
  height:180px;
  width: 58%;
  background-color: #1e1f22;
  border-radius: 10px;
  margin-right: 10px;
  margin: 20px 0px 0px 40px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
}.add-account-to-your-profile h4{
  padding: 20px 0px 0px 20px;
}.add-account-to-your-profile p{
  font-size: 10px;
  margin: 15px 0px 0px 20px;
   line-height: 15px;
    color: #949ba4;
}.add-account-to-your-profile span{
  color: #5e65f3;
}.connection-cards{
  height: 50px;
  width: 90%;
  /* background-color: #475274; */
  margin: 15px 0px 0px 20px;

}.connection-cards-maping{
  height: 90%;
  width: 10%;
  /* background-color: #6b71e4; */
  border-radius: 10px;
margin: 15px 0px 0px 5px;

}.connection-cards-maping-first{
  height: 100%;
  width: 100%;
  /* background-color: #db373c; */
  display: flex;
  gap: 10px;

}.connection-cards-maping-first img{
  height: 100%;
  width: 50px;
  background-color: #1e1f22;
  border: 1px solid rgb(164, 149, 149);
  border-radius: 10px;
  padding: 10px;
}.connection-cards-maping-first button{
   
   background-color: #1e1f22;
   padding: 10px;
}
.Modal-main{
  height: 300px;
  width: 500px;
  background-color: #1e1f22;
  margin: 15px 0px 0px 200px;
border-radius: 10px;
backdrop-filter: blur(40px);
color: white;
}
.modal-inner-first{
  height: 50px;
  width: 100%;
  /* background-color: #5e65f3; */
  display: flex;
  justify-content: space-between;
}
.modal-inner-first-heder{
  height: 100%;
  width: 200px;
  /* background-color: #949ba4; */
 padding: 15px 0px 0px 15px;

}
.modal-inner-first-quit{
  height: 100%;
  width: 60px;
  background-color: #1e1f22;
  
border: none;
}
.modal-icons-page{
  height: 150px;
  width: 390px;
  /* background-color: #db373c; */
  margin: 50px 0px 0px 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}.modal-icons-page-first{
  height: 50px;
  width: 50px;
  /* background-color: #b5bac1; */
 
}
.modal-icons-page-first img{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
  border: 1px solid #b5bac1;
  border-radius: 5px;
  padding: 8px;
}

/* //////////////////////////////////////////// */

.devices-main{
  height: 40%;
  width: 60%;
  /* background-color: #949ba4; */
  margin: 30px 0px 0px 40px;
  padding: 30px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #949ba4;
}
.devices-main h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: white;
   letter-spacing: 1.5px;
}
.current-devices h3{
  font-size: 1px;
  padding-left: 5px;
  font-family: Helvetica, Arial, sans-serif, ;
  color: #949ba4;
  font-weight:bold;
  font-style: inherit;
  font-family: inherit;
  font-size: 80%;
  vertical-align: baseline;
  margin-bottom: 20px;
  margin: 30px 0px 20px 30px;
  letter-spacing: 1px;

}
.mac-svg{
  height: 54px;
  width: 400px;
  margin: 30px 0px 20px 30px;
  display: flex;
}
.mac-svg svg{
  background-color: #cbd0d6;
  border-radius: 50px;
 padding: 15px;
}.mac-os-inner-first{
 color: #949ba4;
 margin: 10px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}.mac-os-inner-first span{
  font-size: 12px;
}

.other-devices h3{
  font-size: 1px;
  padding-left: 5px;
  font-family: Helvetica, Arial, sans-serif, ;
  color: #949ba4;
  font-weight:bold;
  font-style: inherit;
  font-family: inherit;
  font-size: 80%;
  vertical-align: baseline;
  margin-bottom: 20px;
  margin: 30px 0px 20px 30px;
  letter-spacing: 1px;
}
.mac-svg-two{
  height: 54px;
  width: 500px;
  margin: 30px 0px 20px 30px;
  display: flex;
}
.mac-svg-two svg{
  background-color: #c6cad0;
  border-radius: 50px;
 padding: 15px;
 display: flex;
}.mac-os-inner-second{
 color: #949ba4;
 margin: 10px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}.mac-os-inner-second span{
  font-size: 12px;
}
.mac-os-inner-second-cross-icon{
  height: 30px;
  width: 30px;
  background-color: #b5bac1;
}.mac-os-inner-second-cross-icon svg{
  background-color: none;
}

.log-out-of-all-now{
  height: 100px;
  /* width: 350px;background-color: #294871; */
  margin: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.log-out-of-all-now span{
  font-size: 1px;
  /* padding-left: 5px; */
  font-family: Helvetica, Arial, sans-serif, ;
  color: #949ba4;
  font-weight:bold;
  font-style: inherit;
  font-family: inherit;
  font-size: 80%;
  vertical-align: baseline;
  /* margin-bottom: 20px; */
  /* margin: 30px 0px 20px 30px; */
  letter-spacing: 1px;
}
.log-out-of-all-now p{
  font-size: 13px;
  color: #bcbfc4;
  letter-spacing: 1 px;
  font-family: Myfont;
  color: rgb(188, 191, 196);
  font-weight:
  400;
  font-style:
  normal;
  font-variant:
  normal;
  text-transform:
  none;
  text-decoration:
  none solid rgb(188, 191, 196);
}
.log-out-of-all-now button{
  height: 30px;
  width: 200px;background-color: transparent;
  outline: none;
  border: 1px solid #db373c;
  border-radius: 5px;
  color: white;
}.log-out-of-all-now button:hover{
  background-color: #db373c;
}

/* ////////////////////////////////////////////////////////////////////////
THIS IS A ONE COMPONENT */


.under-line-all-div{
    height: 1px;
    width: 500px;
    background-color: #4e5258;
    margin-left: 20px;
}


/* ////////////////////////////////////////////////////////////////////////////// */


/* ///////////////////////////////////////////////////////// 
AUTHORIZED COMPONENT*/
.authorized-main{
  height: 200px;
  width: 600px;
  /* background-color: #949ba4; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0px 0px 50px;
  font-family: Myfont;
}
.authorized-heading{
  height: 20px;
  width: 200px;
  /* background-color: #6b71e4; */
  font-family:
"gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
font-size:
20px;
font-weight:
600;
}
.authorized-heading h3{
  font-family:
  "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
  font-size:
  20px;
  font-weight:
  600;
}
.application-box{
  height: 100px;
  width: 600px;
  /* background-color: #757687; */
  border: 1px solid  black;
  border-radius: 10px;
  background-color:
#313339;
padding: 10px;
}
.application-box h3{
  color:
  oklab(0.786807 -0.0025776 -0.0110238);
  font-family :
"gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
font-size:
16px;
font-weight:
400
}
.application-box p{
  color: white;
  margin-top: 10px;
}
.audhorized-cntr-box{
  height: 300px;
  width: 350px;
  background-color: #949ba4;
  margin-left: 200px;
  background-image: url(src/assets/setting-images/BAck.svg);
  border-radius: 20px;
  opacity:0.3;}