*{
    margin: 0;
    padding: 0;
    
}
.container-main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    
}
.shop{
    width: 80%;
    height: 2200vh;
    background-color:rgb(49,51,56);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* .............................nav..................................... */
.nav{
    width: 100%;
    height: 48px;
    background-color: rgb(49,51,56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky ;
    top: 0px;
    
}
.nav1{
    display: flex;
    gap: 6px;
    align-items: center;
    color: whitesmoke;
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.nav1 img{
    width: 30px;
}   
.nav1 h4{
    font-size: large;
    font-weight: bold;
}
.nav1 p{
    font-weight: bold;
}
.nav2{
    display: flex;
    gap: 6px;
    align-items: center;

}
.nav2 img{
    width: 30% ;
}
/* ................................................................................. */
.cardpage{
    width: 87%;
    height: 2200vh;
    background-color: brown;
}
/* /.......................DOjo......................... */

.dojocard{
    width: 100%;
    height: 200vh;
    margin-top: 40px;
    border: 1px solid black;
    gap: 20px;
    background-color: beige;
    
    
    
}
.maincard{
    width: 100%;
    height: 246px;
    background-color: blue;
    border-radius: 20px;
    overflow: hidden;
   
    
}
.maincard img{
    width: 100%;
    height: 246px;
}
.cardbox{
    width: 100%;
    height: 82%;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    padding-top: 25px;
  

}
.card{
    position:static;
    width: 247px;
    height: 374px;
    background-color: rgb(30,31,34);
    border-radius: 20px;
    overflow: hidden;
    transition: background-color 0.3s ease;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
   
}
.card h4{
    font-size: 18px;
    color: rgb(219,222,225);
    margin-top: 19px;
}
  
.blkimg{
    width: 100%;
    height: 66%;
    background-color:rgb(17,18,20);
    display: flex;
    justify-content: center;
    
}
.cardcont{
    width: 100%;
    height: 35%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}

.rate p, .rate span, .rate img, .rate a {
    transition: opacity 0.3s ease;
}
.rate{
    display: flex;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
    align-items: center;
    gap: 2px;
    margin-top: 32px;
    transition: opacity 0.3s ease;
}
.rate p{
    font-size: 16px;
    font-weight: bold;
    color: rgb(219,222,225);
    
}
.rate span{
    font-size: 16px;
    font-weight: bold;
    color: rgb(44,187,106);
   
}
.rate img{
    width: 18px;
    height: 18px;
    padding-top: 2px;
   
}
.rate a{
    font-size: 12px;
    font-weight:700;
    color: rgb(143,144,148);
   
}
.buy-button{
    width: 100%;
    height: 38px;
    /* background-color: blue; */
    transform: translate(-50%, -50%); 
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 200px;
    margin-bottom: 20px;
   
}
.card:hover .rate {
    opacity: 0;
}

.card:hover .buy-button {
    opacity: 1;
  
}
.gift{
    width: 210px;
    border-radius: 5px;
    position: absolute;
     top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.card:hover .gift {
    opacity: 1;
}
.card:hover{
    transform: scale(1);
    overflow: hidden;
    transition: 1s ease;
    
}
.buy-btn{
    width: 165px;
    height: 38px;
    background-color: rgb(88,101,242);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:500;
    

}
.buy-btn:hover{
    background-color: rgb(58, 64, 127);
}
.gift-btn{
    width: 42px;
    height: 100%;
    border-radius: 5px;
    background-color:rgb(88,101,242);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.gift-btn img{
    width: 32px;
    height: 28px;
}



/* ......................CHAMPIONS........................ */

.championscard{
    width: 100%;
    height: 306vh;
    margin-top: 40px;
    border: 1px solid black;
    gap: 20px;
    background-color: beige;
}

/* ............................sponge....................... */

.Spongebob{
    width:100%;
    height: 200vh;
    margin-top: 40px;
    border: 1px solid black;
    gap: 20px;
    background-color: beige;
}
/* ........................fantasy............................. */

.Dark{
    width:100%;
    height: 200vh;
    margin-top: 40px;
    border: 1px solid black;
    gap: 20px;
    background-color: beige;
}

/* ........................palworld............................. */

.Palworld{
    width:100%;
    height: 200vh;
    margin-top: 40px;
    border: 1px solid black;
    gap: 20px;
    background-color: beige;
}

/* ...........................galaxy................................. */

.Galaxy{
    width:100%;
    height: 200vh;
    margin-top: 40px;
    border: 1px solid black;
    gap: 20px;
    background-color: beige;
}
/* .......................anime................................... */
.Anime{
    width:100%;
    height: 361vh;
    margin-top: 40px;
    border: 1px solid black;
    gap: 20px;
    background-color: beige;
}
/* ............................lofi..................... */
.Lofi{
    width:100%;
    height: 200vh;
    margin-top: 40px;
    border: 1px solid black;
    gap: 20px;
    background-color: beige; 
}


